---
import { Image } from "astro:assets";
import Modal from "../Modal.astro";

import PinSVG from "../../assets/svgs/pin-svgrepo-com.svg";

import TablifyImage from "../../assets/imgs/tablify.png";
import PingPongImage from "../../assets/imgs/ping-pong.png";
import AutoRestockImage from "../../assets/imgs/auto-restock.png";
import OldPortfolioImage from "../../assets/imgs/old-portfolio.png";

const projects = [
  {
    img: TablifyImage,
    url: "https://github.com/cris-01000011/Tablify",
    name: "Tablify.html",
    previewTitle: "Tablify",
    previewDescription: "Customizable new tab page — organize your links in folders, add quick-access icons, and use custom search commands.",
  },
  {
    img: PingPongImage,
    url: "https://ping-pong-nu-azure.vercel.app",
    name: "Ping-Pong.html",
    previewTitle: "Ping-Pong",
    previewDescription: "Clasic ping pong game made in React, with the objetive of improve my abilities programming.",
  },
  {
    img: AutoRestockImage,
    url: "https://auto-restock.vercel.app/",
    name: "Auto-Restock.html",
    previewTitle: "Technical Test",
    previewDescription: "Automatization of get products not availables in stock.",
  },
  {
    img: OldPortfolioImage,
    url: "https://my-portfolio-pfky.onrender.com",
    name: "CRUD.html",
    previewTitle: "Old Portfolio",
    previewDescription: "Shows a basic online store system performing CRUD operations.",
  }
];
---

<Modal id="PopupFileExplorer" title="File Explorer">
  <div class="flex gap-5 w-full border-y-1 border-y-[#9399b2] text-[#bac2de] px-2 text-sm">
    <span>File</span>
    <span>Edit</span>
    <span>View</span>
    <span>Help</span>
  </div>

  <div class="flex flex-row w-full h-full">
    {/* Left Bar */}
    <div class="border-r-1 border-r-[#9399b2] flex flex-col w-[30%] lg:w-[20%] h-full text-[#bac2de] text-md truncate">
      <span class="text-sm p-1 border-b-1 border-b-[#9399b2]"><strong>Places</strong></span>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Computer</button>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Home</button>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Desktop</button>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Recent</button>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Trash</button>
      <button onclick="showProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Documents</button>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Music</button>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Pictures</button>
      <button onclick="hideProjects()" class="hover:bg-[rgba(147,153,178,0.2)] px-2 py-1 text-start">Downloads</button>
    </div>

    {/* Projects */}
    <div id="projectsDiv" class="relative w-[70%] lg:w-[80%] h-full p-2 text-black/75">
      <div class="w-fit flex flex-col">
        {projects.map(project => (
          <a class="group text-[#bac2de] p-1 w-fit" href={project.url} target="_blank">
            <span class="group flex flex-row items-center gap-2">
              {project.name}
            </span>
            <div class="hidden group-hover:block absolute top-0 right-0 group-hover:animate-[fade-left_0.2s_linear] p-2">
              <div class="border-1 border-[#b4befe] text-[#b4befe] p-1">
                <Image class={"mb-2"} src={project.img} alt={project.name} width={300} height={300} />
                <span>{project.previewTitle}</span>
                <hr>
                <div class="text-sm max-w-[300px]">{project.previewDescription}</div>
              </div>
            </div>
          </a>
        ))}
      </div>

      {/* Bottom Files */}
      <div class="hidden absolute bottom-11 left-0 lg:flex items-center text-[#bac2de] text-sm border-t-1 border-t-[#9399b2] w-full h-auto px-2">
        <PinSVG width={16} height={16} class={"mr-2 pb-[3px]"}/>
        <button onclick="openPopup('PopupAboutMe')" class="border-x-1 border-x-[#9399b2] px-2 pb-[2px] hover:bg-[rgba(147,153,178,0.2)]">About Me.pdf</button>
        <button onclick="openPopup('PopupExperience')" class="border-r-1 border-r-[#9399b2] px-2 pb-[2px] hover:bg-[rgba(147,153,178,0.2)]">Experience.pdf</button>
      </div>
    </div>
  </div>
</Modal>

<style>
@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
</style>

<script is:inline>
function hideProjects() {
  const projectsDiv = document.getElementById("projectsDiv");
  projectsDiv.hidden = true;
}

function showProjects() {
  const projectsDiv = document.getElementById("projectsDiv");
  projectsDiv.hidden = false;
}
</script>
