---
import CrossIcon from "../../src/assets/svgs/cross-small-svgrepo-com.svg"
const { id, title, width="w-full lg:w-[calc(100%-20px)]", height="h-full lg:h-[94%]", direction="top-0 lg:top-8 left-0 lg:left-2" } = Astro.props;
---

<dialog id={id} class={`fixed ${direction} ${width} ${height} bg-inherit rounded-xl`}>
  <div class="animate-fade absolute w-full h-full bg-[rgba(17,17,27,0.95)] text-[#cdd6f4] lg:border-1 lg:border-[#cba6f7] backdrop-blur-sm lg:rounded-xl overflow-hidden">
    <div class="header relative flex items-center justify-end px-2 w-full h-[25px] rounded-t-xl cursor-move">
      <span class="absolute top-0 left-0 px-2">{title}</span>
      <div>
        <button onclick="closePopup(this)" class="flex items-center">
          <CrossIcon width={20} height={20} />
        </button>
      </div>
    </div>

    <slot />

    <div class="resize-handle absolute bottom-0 right-0 w-4 h-4 cursor-se-resize"></div>
  </div>
</dialog>

<style>
  @keyframes fade {
    from {
    opacity: 0;
      transform: scale(0, 0);
    }
    to {
      opacity: 1;
      transform: scale(100px, 100px);
    }
  }

  .animate-fade {
    animation: fade 0.15s ease-in-out;
  }

  @keyframes fade-out {
    0% {
      opacity: 0.2;
      transform: scale(0.1, 0.1);
    }
    100% {
      opacity: 0;
      transform: scale(0, 0);
    }
  }

  .animate-fade-out {
    animation: fade-out 0.25s ease-in-out;
  }

  dialog::backdrop {
    background: transparent;
  }
</style>

<script is:inline>
  function checkOpenPopups() {
    const dialogs = Array.from(document.getElementsByTagName("dialog"));
    const openDialogs = dialogs.filter(dialog => dialog.open);

    checkIsOpenPopupsOnTop(openDialogs);
  }

  function navBottomChangeAnimation(isPopupsOnTop) {
    const navBottom = document.getElementById("navBottom");
    navBottom.classList.remove("animate-jump-bottom-out");

    if (isPopupsOnTop) {
      navBottom.classList.remove("animate-jump-top-in")
      navBottom.classList.add("animate-jump-bottom-out");

      return;
    }

    if (!navBottom.classList.contains("animate-jump-top-in"))
      return navBottom.classList.add("animate-jump-top-in");
  }

  function checkIsOpenPopupsOnTop(openDialogs) {
    const bodyRectHeight = document.body.getBoundingClientRect().height;
    const isPopupsOnTop = openDialogs.find(dialog =>
      dialog.getBoundingClientRect().bottom > (bodyRectHeight - 52)
    );

    if (isPopupsOnTop)
      return navBottomChangeAnimation(true);

    navBottomChangeAnimation(false);
  }

  function animatePopupClose(dialog) {
    dialog.classList.add("animate-fade-out");

    dialog.addEventListener(
      "animationend", () => {
        dialog.close();
        dialog.classList.remove("animate-fade-out");
        checkOpenPopups();
      },
      { once: true }
    );
  }

  function closePopup(button) {
    const currentDialog = button.closest("dialog");

    animatePopupClose(currentDialog);
  }
</script>
