---
import SystemModal from "../SystemModal.astro";

import PlayNextIcon from "../../assets/svgs/play-next-svgrepo-com.svg";
import PlayIcon from "../../assets/svgs/play-svgrepo-com.svg";
import PauseIcon from "../../assets/svgs/pause-svgrepo-com.svg";

const tracks = [
  {
    id: "track1",
    title: "1. Dearly Beloved",
    autor: "Yoko Shimomura",
    album: "Kingdom Hearts 1.5 Remix",
    isSelected: true
  },
  {
    id: "track2",
    title: "2. Prisoners of Fate",
    autor: "Yasunori Mistuda",
    album: "Chrono Cross",
    isSelected: false
  },
  {
    id: "track3",
    title: "3. Offensive and Defensive Battle",
    autor: "Hitoshi Sakamoto",
    album: "Valkyria Chronicles 3",
    isSelected: false
  },
  {
    id: "track4",
    title: "4. Liberi Fatali",
    autor: "Artist",
    album: "Chrono Cross",
    isSelected: false
  },
  {
    id: "track5",
    title: "5. Conquest",
    autor: "Hiroki Morishita",
    album: "Fire Emblem Awakening",
    isSelected: false
  },
  {
    id: "track6",
    title: "6. Gerudo Valley",
    autor: "Koji Kondo",
    album: "The Legend of Zelda: Ocarina of Time",
    isSelected: false
  },
]
---

<SystemModal id="PopupSystemMusic" openDirection="top-7 left-2" width="w-86">
  <div class="flex items-start w-full h-full mb-1 p-1">
    <img
      id="imgCurrentTrack"
      class="border-1 border-[#313244] w-24 h-24 rounded-md grayscale-15"
      src="/music/covers/1. Dearly Beloved.png"
      alt="cover"
    />

    <div class="relative flex flex-col h-full pl-2">
      <span id="titleCurrentTrack" class="text-[#cba6f7] text-md max-w-52 truncate">Dearly Beloved</span>
      <div id="infoCurrentTrackDiv" class="flex gap-2 text-[#bac2de] text-xs mb-2 whitespace-nowrap max-w-52">
        <span>Yoko Shimomura</span>
        <span>-</span>
        <span class="truncate">Kingdom Hearts 1.5 Remix</span>
      </div>
      <div class="flex gap-2">
        <button onclick="prevTrack()" class="bg-[rgba(49,50,68,0.5)] hover:bg-[#45475a] border-1 border-[#45475a] rounded-sm px-1 py-1">
          <PlayNextIcon class="scale-x-[-1] justify-self-center" width={16} height={16} />
        </button>

        <button id="systemPlayMusicBtn" onclick="playMusic()" class="bg-[rgba(49,50,68,0.5)] hover:bg-[#45475a] border-1 border-[#45475a] rounded-sm px-2 py-1">
          <PlayIcon class="justify-self-center" width={14} height={14} />
        </button>

        <button hidden id="systemPauseMusicBtn" onclick="playMusic()" class="bg-[rgba(49,50,68,0.5)] hover:bg-[#45475a] border-1 border-[#45475a] rounded-sm px-2 py-1">
          <PauseIcon class="justify-self-center" width={14} height={14} />
        </button>

        <button onclick="nextTrack()" class="bg-[rgba(49,50,68,0.5)] hover:bg-[#45475a] border-1 border-[#45475a] rounded-sm px-1 py-1">
          <PlayNextIcon class="justify-self-center" width={16} height={16} />
        </button>
      </div>
    </div>
  </div>

  <div id="tracksDiv" class="grid grid-cols-2 gap-2 w-auto px-1 pb-2">
    {tracks.map(track => (
      <button id={track.id} onclick="playTrack(this)" class={`bg-[rgba(49,50,68,0.5)] border-1 box-border border-[#313244] ${track.isSelected && "border-[#b4befe]"} hover:border-[#b4befe] flex flex-col px-2 py-1 rounded-sm`}>
        <span class="text-[#b4befe] text-xs text-start truncate">{track.title}</span>
        <div class="flex gap-2 text-[#bac2de] text-xs truncate">
          <span hidden>{track.autor}</span>
          <span hidden>-</span>
          <span hidden>{track.album}</span>
        </div>
      </button>
    ))}
  </div>

  <div class="px-1 mb-1">
      <hr class="text-[#7f849cff]">
  </div>

  <div class="text-center text-[#7f849c] text-xs">Favorite Game OST</div>

  <audio hidden src="/music/1. Dearly Beloved.mp3" controls id="audioPlaylist"></audio>
</SystemModal>

<script is:inline>
function checkCurrentTrack() {
  const tracksDiv = document.getElementById("tracksDiv");
  const buttons = tracksDiv.querySelectorAll("button");

  const currentTrack = Array.from(buttons).find(btn =>
    btn.classList.contains("border-[#b4befe]")
  );

  return currentTrack;
}

function changeCurrentTrack(selectedButton) {
  // update current track
  const currentTrack = checkCurrentTrack();
  currentTrack.classList.remove("border-[#b4befe]");
  currentTrack.classList.add("border-[#313244]");
  selectedButton.classList.add("border-[#b4befe]");

  // variables for update info
  const titleSpan = selectedButton.querySelector("span:first-child");
  const infoDiv = selectedButton.querySelector("div");
  const spans = infoDiv.querySelectorAll("span");

  const trackTitle = titleSpan.textContent.trim();
  const trackAuthor = spans[0].textContent.trim();
  const trackAlbum = spans[2].textContent.trim();

  // update image
  const imgCurrentTrack = document.getElementById("imgCurrentTrack");
  imgCurrentTrack.src = `/music/covers/${trackTitle}.png`;

  // update title
  const titleCurrentTrack = document.getElementById("titleCurrentTrack");
  titleCurrentTrack.textContent = trackTitle.slice(3);

  // update artist and album
  const infoCurrentTrackDiv = document.getElementById("infoCurrentTrackDiv");
  const infoSpans = infoCurrentTrackDiv.querySelectorAll("span");
  infoSpans[0].textContent = trackAuthor;
  infoSpans[2].textContent = trackAlbum;

  playMusic();
}

function playTrack(selectedButton) {
  const audio = document.getElementById("audioPlaylist");

  const titleSpan = selectedButton.querySelector("span:first-child");
  const trackTitle = titleSpan.textContent.trim();

  audio.src = `/music/${trackTitle}.mp3`;
  audio.load();

  changeCurrentTrack(selectedButton);
}

function nextTrack() {
  const tracksDiv = document.getElementById("tracksDiv");
  const buttons = [...tracksDiv.querySelectorAll("button")];

  const currentIndex = buttons.findIndex(btn => btn.classList.contains("border-[#b4befe]"));
  const nextIndex = (currentIndex + 1) % buttons.length;

  playTrack(buttons[nextIndex]);
}

function prevTrack() {
  const tracksDiv = document.getElementById("tracksDiv");
  const buttons = [...tracksDiv.querySelectorAll("button")];

  const currentIndex = buttons.findIndex(btn => btn.classList.contains("border-[#b4befe]"));
  const prevIndex = (currentIndex - 1 + buttons.length) % buttons.length;

  playTrack(buttons[prevIndex]);
}
</script>
